
<div class="jumbotron">
    <h1>Get an Auto Insurance Quote Today!</h1>
</div>
<p>
    @Html.ActionLink("Create New", "~/Insuree/Create")
</p>
<div class="row">
    <div class="col-md-4">
        <h2>Enter your information below: </h2>
    </div>
</div>

<div class="row justify-content-center col-lg-12 no-gutters">
    @using (Html.BeginForm("Create", "Insuree", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label>First Name</label>
            <input name="FirstName" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input name="LastName" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Email Address</label>
            <input name="EmailAddress" type="email" class="form-control" />
        </div>
        <div class="form-group">
            <label>Date of Birth</label>
            <input name="DateOfBirth" type="date" class="form-control" placeholder="MM-DD-YYYY" />
        </div>
        <div class="form-group">
            <label>Car Year</label>
            <input name="CarYear" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Car Make</label>
            <input name="CarMake" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Car Model</label>
            <input name="CarModel" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Check if you have ever had a DUI</label>
            <input name="DUI" type="checkbox" class="form-control" />
        </div>
        <div class="form-group">
            <label>Enter Number of Speeding Tickets</label>
            <input name="SpeedintTickets" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Check if you want full coverage</label>
            <input name="CoverageType" type="checkbox" class="form-control" />
        </div>
        <div class="form-group text-center mt-2">
            <button type="submit" class="btn btn-primary">Get Quote!</button>
        </div>
    }
</div>