@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Get A New Insurance Quote</h1>
    <p class="lead">Click the link below to get a monthly quote.</p>
    <a class="btn btn-success" href="/Insuree/Create">Get Quote!</a>

</div>
